
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* display: grid;
    place-items: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: radial-gradient(#184d6d, #0e2539 60%);
    color: white;
}
h1, p{
    text-align: center;
}
h1{
  margin-top: 0px;
}
p{
  color: #ff0081;
  margin-top: 30px ;
}
#box{
    /* background-color: gray; */
    width: 400px;
    height: 94vh;
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);  */
    /* border-radius: 20px; */
    /* background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px); */
    margin: 3vh;
    /* border: 1px solid red; */
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    width: 400px;
    /* border: 1px solid blue; */
    margin: 20px 0px;
    /* border-radius: 20px;
    overflow: hidden; */
  }
  
  .grid-item {
    font-weight: 900;
    /* padding: 20px 0px; */
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    /* box-sizing: border-box; */
    height: 130px;
    width: 130px;
    /* vertical-align: baseline; */
    line-height: 130px;
    /* background-color: #575656; */
    
  }
  .grid-item:hover {
    /* background-color: hsla(120,100%,75%,0.3); */
    /* background-color:hsla(120,100%,50%,0.3); */
    background-image: radial-gradient(hsla(120,100%,50%,0.8) 20%, hsla(0, 0%, 100%, 0) 60%);
    /* background-color: #39ff14; */
  }
  .bup{
    border-width: 5px 0px;
    border-style: solid;
    border-color: white;
  }
  .bside{
    border-width: 0px 5px;
    border-style: solid;
    border-color: white;
  }
  .ball{
    border-width: 5px;
    border-style: solid;
    border-color: white;
  }
  .bgColor{
    background-color: #39ff14;
  }
  .stopClick {
    pointer-events: none;
  }

  button{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: 0 2px 25px rgb(255 0 130 / 50%);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: #ff0081;
    color: white;
    text-align: center;
    margin: 20px;
  }