
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, p{
    text-align: center;
}
#box{
    background-color: gray;
    width: 400px;
    height: 600px;
    
    border: 1px solid red;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    width: 400px;
    /* border: 1px solid blue; */
  }
  
  .grid-item {
    font-weight: 900;
    /* padding: 20px 0px; */
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    /* box-sizing: border-box; */
    height: 130px;
    width: 130px;
    /* vertical-align: baseline; */
    line-height: 130px;
    /* background-color: #575656; */
  }
  .bup{
    border-width: 5px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
  }
  .bside{
    border-width: 0px 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
  }
  .ball{
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
  }
  .bgColor{
    background-color: #575656;
  }

  button{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: #facf0f;
    color: #111;
    text-align: center;
  }